<!doctype html>
<html>
<head>
	<title>Wabbajack!</title>
	<link rel="stylesheet" href="css/style.css">
</head>
<body>
	<div class="content">
		<h1>
			The Wabbajack!
		</h1>
		<blockquote>
			"Science has not yet taught us if madness is or is not the sublimity of intelligence." -Edgar Alan Poe
		</blockquote>
		<p>
			New from ES Corp. comes the product we've all been waiting for.<br> 
			Endless amusement is only a moment away with the new and exciting Wabbajack!<br><br>
			The best thing since sliced sweet rolls is sure to dazzle and amaze all ages.<br><br>
			<img src="http://img1.wikia.nocookie.net/__cb20120229014132/elderscrolls/images/2/24/StaffWabbajack.png" alt=""/><br><br>
			Touch the target and let the madness unfold.<br>
			Comes with a variety of effects including but not limited to...<br><br>
			Fire, Frost, Lightning, Disintegration, Healing, Transformation, Invisibility, <br>Fear, Death, Paralysis, Decapitation, Resurrection, and Summoning.<br><br>
			Adult supervision recommended.
		</p>
	</div>
</body>
</html>